<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="/components/css/global.css" />
  <link rel="stylesheet" href="/components/css/found.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;0,800;1,400;1,600;1,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aclonica:wght@400&display=swap" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=IBM Plex Sans Devanagari:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Imprima:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lemon:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Langar:wght@400&display=swap" />
</head>

<body>
  <header class="found-page">
    <div class="found-page-child"></div>


    <div class="found-page-inner"></div>
    <img class="found-page-child1" alt="" src="./public/rectangle-48.svg" />

    <img class="found-page-child2" alt="" src="./public/rectangle-46.svg" />

    <div class="navbar2">
      <a href="/">HOME</a>
      <a href="/lost">LOST</a>
      <a href="/found" class="found">FOUND</a>
      <img class="user-1-icon2" alt="" src="/components/img/profile.png" />
    </div>
    <div class="items-found1">ITEMS FOUND</div>
    <div class="post-tab1" id="postTabContainer" style="left: 1000px">
      <div class="post-tab-item">
      <i class="found-something-post1">FOUND SOMETHING? POST HERE...</i>
      <img class="arrow-1-11" alt="" src="/components/img/plus.png" onclick="redirectToPostItemPage();" />
      </div>
    </div>
    <div class="search-tab1" style="left: 1000px">
      <div class="search-tab-item"></div>
      <i class="search-for-found">SEARCH FOR FOUND ITEMS</i>
      <img class="search-1-icon1" alt="" src="/components/img/search.png"/>
    </div>
    <% allFoundItems.forEach(item =>{ %>
    <div class="posted-item">
      <div class="posted-item-child">
      <img class="img20240216231751-1-icon" alt="" src="/components/<%=item.imgPath%>" />
      <div class="posted-item-item"></div>
      <div class="posted-item-inner"></div>
      <div class="lost-at-the"><%= item.name %><br><%= item.location%></div>
      <img class="user-2-icon1" alt="" src="/components/img/profile.png" />

      <div class="riya"><%= item.postedby.name %></div>
      <i class="riyabtcse19igdtuwacin"><%= item.postedby.email %></i>
      <img class="dm-1-icon" alt="" src="/components/img/arrow.png" />
      </div>
      <i class="pm"><%= moment(item.createdAt).format('YY/MM/DD h:mm a') %></i>
    </div>
  <% }) %>

  </header>
  <script>
    function redirectToPostItemPage() {
      window.location.href = '/postitem';
    }
  </script>
</body>

</html>
